
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

$main-color-bg : #DDD9D4 ;
$menu-color-bg : #D28C7D;
$logo-brown-color : #C98A2B;
$second-text-gray-color : #6F6969 ;

$main-font-family : 'Italiana', serif;

$nav-padding-desk : 0px 10% ;
$nav-padding-mobile : 0px 3% ;